body{
    background-color: black;
}


h1{

    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #7C9D96;
}
 p{
    font-size: 35px;
    color: #F4F2DE;
}
.button{
    width: 250px;
    height: 80px;
    background-color: tan;
    color: white;
}
.quoteColor p {
    color: #E9B384;
}